@import 'tailwindcss';
@import 'leaflet/dist/leaflet.css';


.starBg {
    background-image: url('/assets/stars.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}

.titleBg {
    background-image: url('/assets/rocket.jpg');
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
}

.rocketSquareBg {
    background-image: url('/assets/rocket-small.jpg');
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
}

.text-border {
  -webkit-text-stroke: 1px white;
}
