@import 'tailwindcss';
@import 'leaflet.markercluster/dist/MarkerCluster.Default.css';
@import 'leaflet.markercluster/dist/MarkerCluster.css';

.starBg {
    background-image: url('/assets/stars.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}

.titleBg {
    background-image: url('/assets/rocket.jpg');
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
}

.rocketSquareBg {
    background-image: url('/assets/rocket-small.jpg');
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
}

.my-label {
    background: transparent;
    border: none;
    box-shadow: none;
    color: black;
    font-weight: bold;
    font-size: small;
}
